name: Run commands on different operating systems
on:
  push:

jobs:
  Build-and-Push-Windows-Container-Image:
    name: Building on Windows
    runs-on: windows-2019
    steps:
      - uses: actions/checkout@v3
#       - name: Install PSScriptAnalyzer module
#         shell: pwsh
#         run: |
#           Set-PSRepository PSGallery -InstallationPolicy Trusted
#           Install-Module PSScriptAnalyzer -ErrorAction Stop
      - id: 'auth'
        name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@v1'
        with:
          credentials_json: '${{ secrets.GOOGLE_CREDENTIALS }}' #service account key.JSON must be flatened/minified
      - name: "Build and Push Container Image"
        shell: pwsh
        run: |
          cat *.json | docker login https://asia.gcr.io -u _json_key --password-stdin
          docker build -t asia.gcr.io/gj-playground/aspnet:0.1 .
          docker images
          docker push asia.gcr.io/gj-playground/aspnet:0.1
      - name: Test Custom
        uses: rjstone/discord-webhook-notify@v1
        with:
            severity: info
            username: Itsuka
            color: '#DDFF33'
            avatarUrl: https://64.media.tumblr.com/0f83617c15f6f6ea02e91c9f4dddf872/72959dd2774a652e-68/s1280x1920/a8467446d7b614dc36c98e911a952f9288737b55.jpg
            description: aspnet image has been pushed
            details: 'Github Action'
            footer: GCP
#             text: This is where text goes.
            webhookUrl: ${{ secrets.DISCORD_WEBHOOK }}
